* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #000;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
.header {
  min-height: 100vh;
  background: linear-gradient(180deg, #b6b6b6 0%, rgba(235, 235, 235, 0) 100%);
}
.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}
.header--items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.menu--nav {
  display: flex;
  gap: 0 40px;
  align-items: center;
  font-weight: 600;
}
.btn--nav {
  padding: 14px 58px;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
}
.header--pods {
  text-align: center;
}
.header--title {
  padding-top: 140px;
  font-size: 100px;
  position: absolute;
}
.title--s {
  display: inline-block;
  transform: translateY(100px);
}
.title--m {
  display: inline-block;
  transform: translate(36px, 280px);
}
.title--ax {
  display: inline-block;
  transform: translate(-44px, 470px);
  position: relative;
  z-index: -1;
}
.colors {
  text-align: center;
}
.color--title {
  max-width: 560px;
  margin: 0 auto 10px;
  font-size: 36px;
  font-weight: 700;
  padding-top: 120px;
}
.color--text {
  max-width: 560px;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 80px;
}
.color--pods {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.colorBtn {
  border-radius: 30px;
  padding: 50px 56px;
  border: 1px solid gray;
}
.composition--title {
  font-size: 64px;
  font-weight: 700;
  margin: 180px 0 40px 0;
  text-align: center;
}
.composition {
  margin-bottom: 180px;
}
.composition--text {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 40px;
}
.composition--p {
  max-width: 660px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.compositionP {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.battery {
  text-align: center;
}
.battery h2 {
  font-size: 64px;
  font-weight: 700;
  margin: 80px 0 20px 0;
}
.battery p,
img {
  margin-bottom: 40px;
}
.alive {
  text-align: center;
}
.alive h2 {
  font-size: 64px;
  font-weight: 700;
  margin: 80px 0 40px 0;
}
.alive h1 {
  font-size: 290px;
  font-weight: 700;
  margin: 40px 0 40px 0;
}
.alive p {
  max-width: 400px;
  margin: 0 auto 80px;
}
.audio {
  background-image: url('../img/men.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.audio--container {
  min-height: 200vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding-bottom: 200px;
}
.audio--text {
  max-width: 300px;
  text-align: center;
  gap: 20px;
}
.audio--text p {
  margin-bottom: 30px;
}
.audio--text button { 
  padding: 14px 58px;
  border-radius: 30px;
  background-color: white;
  color: black;
  font-weight: 900;
}
footer {
  background-color: black;
}
small{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
small p {
  padding: 10px;
}